html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

nav ul a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0.5em;
}

.logo {
  max-width: 50px;
}

.about {
    background-color: #D0E1F5;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.profile {
  margin: 1em;
  max-width: 30%;
  border-radius: 20%;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

img {
  width: 100%;
}

.content {
  background-color: #ccc;
  display: grid;
  place-items: center;
}

header {
  background: #fff;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #000;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  overflow: hidden;
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
/*   transition: opacity 150ms ease-in-out; */
  transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
  color: #c0c0c0;
}

/* ~ looks for any preceeding sibling. */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  height: auto;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
}

.backimg {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-image: url("https://objects.artspan.com/member/dhamblin/1200/3875218.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5em;
}



@media screen and (min-width: 48em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    height: 5px;
    background: black;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
