html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

header {
  background: #fff;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #000;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  overflow: hidden;
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 250ms ease-in-out 250ms;
}

nav ul a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 0 0.5em;
}

nav a:hover {
  color: #c0c0c0;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  height: auto;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
}

.backimg {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-image: url("https://objects.artspan.com/member/dhamblin/1200/3875218.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5em;
}

.logo {
  max-width: 50px;
}

.about {
  background-color: #D0E1F5;
  display: grid;
  padding: 2rem;
}

.about {
  display: grid;
  grid-template-areas:
  "box1"
  "box2"
  "box3"
  "box4";
}

#about {
  grid-area: box1;
}

.title-about {
  grid-area: box3;
}

.desc-about {
  grid-area: box4;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}

.profile {
  margin: 1em;
  max-width: 90%;
  border-radius: 100%;
  align-self: center;
  grid-area: box2
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.content {
  background-color: #ccc;
  place-items: center;
  padding: 7em 1em 1em 1em;
}

.contact {
  background-image: url("https://objects.artspan.com/member/dhamblin/1200/3875215.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  display: grid;
  place-items: center;
  padding: 7em 1em 1em 1em;
}

.gallery-content {
  display: grid;
  grid-template-areas:
  "title"
  "cityscapes"
  "vehicles"
  "flora"
  "fauna";
  gap: 1rem;
  align-items: start;
}

.gallery-content div {
  padding-bottom: 3rem;
}

div:hover img{
  transform: scale(150%);
  transition: transform .4s;
  border: 3px solid #000;
}

b {
  font-family: 'Merriweather', serif;
  font-size: 0.5rem;
}

.title {
  grid-area: title;
}

img {
  width: 100%;
}

form {
  max-width: 100%;
  margin: 0 auto;
}

.contact-form {
  position: relative;
  max-width: 100%;
  margin: 3rem auto;
  background: #cccccc;
  padding: 3rem;
  border-radius: .6rem;
  overflow: hidden;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}
}
label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  width: 100%;
  padding: 0;
}

input {
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  max-width: 100%;
}

#message {
  padding-bottom: 10rem;
}

#submit {
  padding: 0.5rem;
}

.footer {
  display: grid;
  gap: 1rem;
  font-size: 0.7rem;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

footer img {
  max-width: 50px;
}

@media (prefers-color-scheme: Dark)
{

  .header, .footer{
    background: #141415;
  }
  .content, nav, body, header, footer {
    background: #323232;
    color: #ffffff;
  }

  .logo {
    padding: 0.2rem;
    background: #ffffff;
  }

  nav ul li a {
    color: #ffffff;
  }

  .about {
    background: #2c59a8;
  }

  .contact-form {
    background: #323232;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    background: #ffffff;
  }
}

@media screen and (min-width: 700px) {
  .nav-toggle-label {
    display: none;
  }

  body {
    font-size: 1.2rem;
  }

  b {
    font-size: 0.8rem;
  }

  .desc-about {
    font-size: 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    height: 5px;
    background: black;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  input {
    padding: 0.5rem 15rem 0.5rem 0.5rem;
    max-width: 100%;
  }

  .logo {
    margin-left: 5rem;
  }

  .gallery-content {
    display: grid;
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas:
    "title title"
    "cityscapes vehicles"
    "flora fauna";
    gap: 1em;
    align-items: start;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "box1 box1"
    "box2 box3"
    "box2 box4";
  }

  #about {
    grid-area: box1;
  }
  .title-about {
    grid-area: box3;
  }
  .desc-about {
    grid-area: box4;
  }
}

@media screen and (min-width: 1080px) {
  .nav-toggle-label {
    display: none;
  }

  body {
    font-size: 1.5rem;
  }

  b {
    font-size: 1rem;
  }

  .desc-about {
    font-size: 1.2rem;
  }

  input {
    padding: 0.5rem 30rem 0.5rem 0.5rem;
    max-width: 100%;
  }

  .gallery-content {
    display: grid;
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas:
    "title title title title"
    "cityscapes vehicles flora fauna";
    gap: 1em;
    align-items: start;
  }
}
